@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";
@custom-variant dark (&:where(.dark, .dark *));

html.popup {
  width: 20rem;
  height: 25rem;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}
